* {
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-container {
    display: flex;
    height: 50px;
    border: 2px solid burlywood;
    justify-content: center;
    align-items: center;
}

.button {
    flex: 1;
}

.button.b-right {
    margin-left: auto;
}