<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/styles.css" rel="stylesheet">
    <title>Tendies | {% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <div class="navbar-container">
            <div class="button"><a href="#">Home</a></div>
            <div class="button"><a href="#">Portfolio</a></div>
            <div class="button"><a href="#">Update</a></div>
            <div class="button b-right"><a href="#">login</a></div>
        </div>
    </nav>

    {% block main %}
    {% endblock %}
    
</body>
</html>